{% extends '../layout.html' %}
{% load static %}

{% block banner_text %}
    {% block title %}
      History - SKCONE
    {% endblock %}
{% endblock %}

{% block extra_css %}
<!-- <link href="{% static '/css/table.css' %}" rel="stylesheet" media="screen" /> -->
{% endblock %}

{% block body %}
  <div class="main_head pt-3">
    <span class="fs-2" style="margin-left: 2rem;">History</span><br>
    </div>
    <hr class="mx-4">
    <div class="tablecontent mx-4 ">
        <table id="example" class="table table-hover table-striped table-sm nowrap" style="width:100%; border-left-color: #f9fafb;">
        <thead>
            <tr>
                <th style="width: 20%;" class="no-sort text-center">Title</th>
                <th style="width: 15%;" class="text-center">System</th>
                <th style="width: 10%;" class="text-center">Status</th>
                <th style="width: 10%;" class="no-sort text-center">Department</th>
                <th style="width: 15%;" class="no-sort text-center">Requester</th>
                <th style="width: 15%;" class="text-center">Request Date</th>
                <th style="width: 15%;" class="text-center">Last Update</th>
            </tr>
        </thead>
    </table>
    </div>
    <div id="cardshow" class ="container">

    </div>
    </div>
<script type="text/javascript" src="{% static '/java_scripts/createdatatable_history.js' %}"></script>
<script>
  var btnContainer = document.getElementById("sidebar");
  var btns = btnContainer.getElementsByClassName("btn");
  btns[2].classList.add("active");
  data = {{all_data|safe}};
  buildList(data)
  buildCard(data)
</script>
{% endblock %}

<!-- {% block footer %}

    {% if request.identity_context_data.authenticated == False %}
        <div id="wrapper">
            <div id="left">
                <svg id="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM0 8a8 8 0 1116 0A8 8 0 010 8zm11.78-1.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z"></path></svg>
            </div>
            <div id="right">
                Have you updated your app's <em>redirect URI</em> on <a target="_blank" href={{ aad_link }}>Azure Portal</a>?
                <br>
                <strong>redirect_uri</strong>: {{ redirect_uri_external_link }}
            </div>
        </div>
    {% endif %}

{% endblock %} -->

