{% extends '../layout.html' %}
{% load static %}

{% block banner_text %}
    {% block title %}
        Inbox - SKCONE
    {% endblock %}
{% endblock %}

{% block extra_css %}
    <!-- <link href="{% static '/css/table.css' %}" rel="stylesheet" media="screen" />  -->
{% endblock %}

{% block body %}
    <div class="loading"></div>
    <div class="main_head pt-3">
    <span class="fs-2" style="margin-left: 2rem;">Document</span><br>
    </div>
    <hr class="mx-4">
    <div id="tablecontent" class="tablecontent mx-4">
        <table id="example" class="table table-hover table-striped table-sm nowrap" style="width:100%;">
        <thead class="thead_set text-white" style="background-color: #027779;">
            <tr>
                <th class="no-sort text-center text-white" style="background-color: #027779;">Detail URL</th> <!--style="width: 5%;"-->
                <th class="no-sort text-center">Title</th> <!--style="width: 20%;"-->
                <th class="text-center">Department</th> <!--style="width: 10%;"-->
                <th class="text-center">Requester</th>
                <th class="text-center">Request Date</th>
                <th class="text-center">System</th>
                <th class="no-sort text-center">Attachment</th>
            </tr>
        </thead>
        <tbody class="align-middle">

        </tbody>
        </table>
    </div>
    <div id="cardshow" class ="cardshow container">

    </div>
    </div>
<script type="text/javascript" src="{% static '/java_scripts/createdatatableStatus_java.js' %}"></script>
<script>
        var btnContainer = document.getElementById("sidebar");
        var btns = btnContainer.getElementsByClassName("btn");
        btns[0].classList.add("active");
        
        data = {{all_data|safe}};
        buildList(data)
        buildCard(data)
</script>
{% endblock %}
