{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SKCONE_WEB">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/main_css.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->

    <link rel = "icon" href = "{% static '/image/layout_img/logo_title.png' %}" type = "image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css">    
    <link href="https://cdn.datatables.net/fixedcolumns/4.1.0/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css">
    {% block extra_css %}{%endblock%}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>  
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
    <!-- add icon link -->
  </head>
  <body style="background-color: #e5e5e5;">
    <div class="loading"></div>
    <!--Start Header-->
    <!-- <header class="header"> -->
        {% include "./header_BS.html" %}
        
        <!-- <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div> -->
    <!-- </header> -->
    <!--End Header-->

    <!--Start Sidebar-->
    <div class="d-flex ">
        {% include "./Sidebar_BS.html"%}
    <!--End Sidebar-->
    <div class="maincon mx-3 mt-3 bg-white rounded w-100" style="height: calc(100vh - 100px); overflow-x: hidden;">
        {% block body %}{% endblock %}
    </div>
    </div>
    {% block flash_messages %}{% endblock %}
    <!-- <footer id="footer">
        {% block footer%}{% endblock %}
    </footer> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
    <script type="text/javascript" src="{% static '/java_scripts/main_js.js' %}"></script> 
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</html>