    <div class="sidebar " id="sidebar">
      <div class="row-cols-1 ms-2 me-3 pt-4">
          <a href="{% url 'index' %}" class="sidebar_menu btn mt-5 mb-2 rounded" style=" text-align: left;"><img src="/static/image/layout_img/envelope.png"
              class="sidebar-logo" style="width: 25px;height: 25px;"alt="inbox_logo"><span class="ms-2">Inbox</span></a>

          <a href="{% url 'dashboard' %}" class="sidebar_menu btn my-2 rounded" style="background-color: #f1f1f1; text-align: left;"><img src="/static/image/layout_img/chart-histogram.png" alt="Dashboard"
              class="sidebar-logo" style="width: 25px;height: 25px;"><span class="ms-2">Dashboard</span></a>

          <a href="{% url 'history' %}" class="sidebar_menu btn my-2 rounded" style="background-color: #f1f1f1; text-align: left;"><img src="/static/image/layout_img/book-alt.png" alt="History"
              class="sidebar-logo" style="width: 25px;height: 25px;"><span class="ms-2">History</span></a>

          <a href="{% url 'contact' %}" class="sidebar_menu btn my-2 rounded" style="background-color: #f1f1f1; text-align: left;"><img src="/static/image/layout_img/address-book.png" alt="ContactList"
              class="sidebar-logo" style="width: 25px;height: 25px;"><span class="ms-2">Contact List</span></a>
      </div>
    </div>